/* Variables */
:root {
    --font-sans: "Open Sans", Arial, sans-serif;
    --color-secondary: #333;
    --color-link: #635ac7;

    font-family: var(--font-sans);
    font-weight: normal;
    line-height: 1.5;
}


/* Globals */
body {
    font-family: var(--font-sans);
    margin: 0;
    background: linear-gradient(#fdfbfb, #ebedee);
}
body.noScroll {
    overflow: hidden;
}
h1 {
    font-family: var(--font-sans);
    font-weight: 600;
    font-style: normal; 
}
@media screen and (max-width: 480px){
    h1 {
        font-size: 1.5em;
        line-height: 1.1em;
    }
}

a {
    color: var(--color-link);
}

section {
    padding: 0 30px;
    text-align: center;
}

/* Header */
.site-header {
    padding: 4rem 1rem 3rem;
    text-align: center;
}
.site-header__quote {
    color: var(--color);
    font-family: var(--font-sans);
    font-weight: 400;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    max-width: 460px;    
}

@media screen and (max-width: 480px){
    .site-header__quote {
        font-size: 0.8em;
    }
}


/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    margin: 3% auto; 
    padding: 20px;
    width: 60%; 
}

.modal-image  {
    max-width: 100%;
    max-height: 1400px;
}

.modal-link {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    color: #fff;
    text-decoration: none;
}
.modal-link:hover {
    text-decoration: underline;
}

.close {
    position: absolute;
    top: 5px;
    right: -50px;
    color: #fff;
    font-size: 3em;
}
@media screen and (max-width: 480px){
    .close {
        font-size: 2em;
    }
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}


/* Gallery */
#dogs-gallery {
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px; 
}

.dog-wrapper {
    margin: 0 5px 10px;
}

.dog-image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;  
}

.dog-image:hover {
    opacity: 0.6;
    cursor: pointer;
}

.dog-thumbnail {
    width: 100%;
    height: auto;
}


@media screen and (max-width: 480px){
    #dogs-gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/*Footer */
.site-footer {
    font-size: 0.75em;
    line-height: 1.1em;
    padding: 50px 0 0;
    color: var(--color);
    font-family: var(--font-sans);
    text-align: center;
}