<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Rescue Dog Adoptions in the San Francisco Bay Area</title>
		<meta name="description" content="Check out our dogs at our adoption agency based in San Francisco, California">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600" rel="stylesheet">
		<!--build:css css/styles.min.css-->
		<link rel="stylesheet" type="text/css" href="styles/site.css">
		<!--endbuild-->
	</head>
	<body>
		<header class="site-header">
			<h1>Available Dogs Image Gallery</h1>
			<blockquote class="site-header__quote">
				<p>A dog will teach you unconditional love. If you can have that in your life, things won't be too bad.</p>
				<cite>&mdash;Robert Wagner</cite>
			</blockquote>
		</header>

		<section>
			<div id="dogs-gallery"></div>
			<script id="dogs-gallery-template" type="text/x-handlebars-template">
				{{#each dogs}}
				<div class="dog-wrapper">
					<div class="dog-image">
						<img class="lazy dog-thumbnail" src="images/pixel.gif" data-src="{{this.image}}" data-caption="{{this.source}}" alt="Adopt this adorable dog from our San Francisco adoption agency!" />
					</div>
				</div>
				{{/each}}
				<div id="myModal" class="modal">
					<div class="modal-content">
						<span class="close">&times;</span>
						<img class="modal-image" alt="View the photo of the available dog"/>
						<a class="modal-link" alt="View the photo of the available dog" target="_blank">Click here to learn more about this cute dog</a>
					</div>
				</div>
			</script>
		</section>

		<footer class="site-footer">
			<p>Built by a wonderful developer for Asana.</p>
		</footer>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js"></script>
		<!--build:js js/main.min.js -->
		<script src="js/site.js"></script>
		<!-- endbuild -->
	</body>
	<!-- Thanks for the opportunity --> 
</html>